Repository ITU-BDSA2024-GROUP17/Chirp, pull requests merged in 2024-11, with the labels that each got.

#154 Add tests for message length
  src/Chirp.Infrastructure/Repositories/CheepRepository.cs
  src/Chirp.Web/Pages/Public.cshtml.cs
  test/Chirp.Infrastructure.Tests/Repositories/CheepRepositoryTests.cs
Labels: test

#155 Ref/test solutions
  Chirp.sln
  src/Chirp.Infrastructure/Repositories/CheepRepository.cs
  src/Chirp.Web/Chirp.Web.csproj
  src/Chirp.Web/Program.cs
  src/Chirp.Web/Utilities/Util.cs
  test/Chirp.Infrastructure.Tests/Extensions/CheepExtensionsTest.cs
  test/Chirp.Web.Tests/Chirp.Web.Tests.csproj
  test/Chirp.Web.Tests/CustomWebApplicationFactory.cs
  test/Chirp.Web.Tests/DbInitializer.cs
  test/Chirp.Web.Tests/Endpoints/CheepEndpointsTest.cs
  test/Chirp.Web.Tests/Pages/PageSetupTests.cs
  test/Chirp.Web.Tests/Pages/SearchTest.cs
  test/Chirp.Web.Tests/Util/FormatterTest.cs
Labels: requirement, test, refactoring

#158 Tests/integration
  src/Chirp.Web/Pages/Search.cshtml.cs
  test/Chirp.Web.Tests/CustomWebApplicationFactory.cs
  test/Chirp.Web.Tests/DbInitializer.cs
  test/Chirp.Web.Tests/Endpoints/CheepEndpointsTest.cs
  test/Chirp.Web.Tests/Pages/PageSetupTests.cs
  test/Chirp.Web.Tests/Pages/SearchTest.cs
  test/Chirp.Web.Tests/WebDbInitializer.cs
Labels: test

#159 UI charater Limit to Cheep
  src/Chirp.Web/Pages/Public.cshtml
  src/Chirp.Web/Pages/Shared/_Layout.cshtml
  src/Chirp.Web/Pages/UserTimeline.cshtml
  src/Chirp.Web/wwwroot/css/index.css
  src/Chirp.Web/wwwroot/js/nav.js
  src/Chirp.Web/wwwroot/js/renders.js
  src/Chirp.Web/wwwroot/js/search.js
Labels: enhancement, UI

#169 Feat/delete cheep
  src/Chirp.Core/Interfaces/ICheepRepository.cs
  src/Chirp.Infrastructure/Repositories/CheepRepository.cs
  src/Chirp.Infrastructure/Services/CheepService.cs
  src/Chirp.Web/Pages/Public.cshtml.cs
  src/Chirp.Web/Pages/_CheepsPartial.cshtml
  test/Chirp.Infrastructure.Tests/Repositories/CheepRepositoryTests.cs
  test/Chirp.Web.Tests/CustomWebApplicationFactory.cs
  test/Chirp.Web.Tests/Pages/CheepControlTest.cs
Labels: enhancement, requirement

#179 Add playwright tests
  .github/workflows/lint.yml
  Chirp.sln
  src/Chirp.Web/Areas/Identity/Pages/Account/Register.cshtml
  test/Chirp.Web.Playwright/Chirp.Web.Playwright.csproj
  test/Chirp.Web.Playwright/E2E Tests.cs
Labels: test, workflow

#187 Users can now change avatars
  src/Chirp.Web/Areas/Identity/Pages/Account/Manage/Index.cshtml
  src/Chirp.Web/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  test/Chirp.Web.Playwright/E2E Tests.cs
Labels: enhancement
